.persoonsgegevens {
  font-size: 20px;
  width: 40%;
}

.background-image {
  max-height: 16%;
  position: fixed;
  max-width: 14%;
  border-radius: 20px;
  border: 2px white solid;
}

.background-image:hover {
  transform: rotate(-6deg);
}

.books {
  top: 10%;
  left: 2%;
}

.cooking {
  top: 30%;
  left: 1%;
}

.boardgame {
  top: 10%;
  right: 4%
}

.plant {
  top: 60%;
  right: 4%;
}

.taart {
  top: 75%;
  left: 1%;
}

.fiets {
  top: 80%;
  right: 3%;
}

.films {
  top: 55%;
  left: 1%;
}

.gaming {
  top: 35%;
  right: 3%;
}
