.persoonsgegevens {
  font-size: 20px;
  width: 40%;
}

.background-image {
  border-radius: 20px;
  border: 2px white solid;
  max-width: 13%;
}

.background-image:hover {
  transform: rotate(-6deg);
}

.testtable {
  padding-top: 0;
  padding-bottom: 10px;
  text-align: left;
  overflow: hidden;
  width: 13%;
  height: 85%;
  position: fixed;
  z-index: -1;
}

.kwart {
  height: 21vh;
}
