<!DOCTYPE html>
<html class="whole-page">
<head>
  <title>Over Frank</title>
  <link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">
</head>

<body>
<div class="container">
  <header></header>

<!--  <h2 (mouseleave)="mouseNotOver(1)"  (mouseover)="mouseOver(1)" (click)="doeIets(1)">Buitenactiviteiten</h2>-->
<!--  <div *ngIf="mousedOver[1] || this.selected[1]">-->

  <main>

    <div class="cv_item">
      <h2>Algemene informatie over Frank</h2>
      <p>Ik woon inmiddels al 10 jaar in het prachtige Leiden.
        In een huisje gevuld met boeken, planten en games aan de zonnige gracht.
        De meeste van mijn hobbies die ik hieronder vermeld doe ik met mijn lieve vriendin.
        En anders wel met vrienden die langs komen.
      </p>
    </div>

    <div class="cv_item">
      <h2 (click)="doeIets(1)">Buitenactiviteiten</h2>
        <div *ngIf="this.selected[1]">
          <ul>
            <li>Lekker fietsen: meestal richting het strand of door de velden.</li>
            <li>Rooftop gardening: ik verbouw wat groente en fruit op mijn balkon.</li>
            <li>Natuurwandelingen: het komt er helaas niet veel van in de randstad.</li>
          </ul>
        </div>
    </div>

    <div class="cv_item">
      <h2 (click)="doeIets(2)">Binnenactiviteiten</h2>
        <div *ngIf="this.selected[2]">
          <ul>
          <li>Boeken lezen (fantasy, sci-fi)
            <ul>Mijn top 3:
              <li>The girl who saved the king of Sweden</li>
              <li>Harry Potter</li>
              <li>In de ban van de Ring</li>
            </ul>
          </li>
          <li>Bord en kaartspellen spelen met vrienden
            <ul>Mijn top 3:
              <li>Taipan</li>
              <li>Ora et Labora</li>
              <li>The Game</li>
            </ul>
          </li>
          <li>PC-gamen
            <ul>Mijn top 3:
              <li>Heroes of Might & Magic 3</li>
              <li>World of Warcraft</li>
              <li>Don't Starve</li>
            </ul>
          </li>
          <li>Zoetigheid bakken
            <ul>Mijn top 3:
              <li>Magic cake</li>
              <li>Chocolade munttaart</li>
              <li>Cheesecake</li>
            </ul>
          </li>
          <li>Exotische gerechten koken
            <ul>Mijn top 3:
              <li>Rijst met zoetzure saus</li>
              <li>Pompoenrisotto</li>
              <li>Spinazie-ricotta canneloni</li>
            </ul>
          </li>
          <li>Films kijken
            <ul>Mijn top 3:
              <li>The Shawshank Redemption</li>
              <li>Forest Gump</li>
              <li>Howl's moving castle</li>
            </ul>
          </li>
          </ul>
       </div>
    </div>

    <div class="cv_item">
      <h2 (click)="doeIets(3)">Fun facts</h2>
       <div *ngIf="this.selected[3]">
         <ul>
           <li>Ik ben jurylid van de <a href="https://www.speelgoedvanhetjaar.nl/jury" target="_blank">speelgoed van het jaar verkiezing.</a></li>
           <li>Katten zijn mijn favoriete huisdier.</li>
           <li>Mensen schatten mij altijd jonger in dan ik ben.</li>
           <li>Met chocolade maak je mij altijd blij.</li>
           <li>Ik heb groene vingers, mijn hele huis staat vol met planten.</li>
           <li>Ik heb Harry Potter deel 1 al in 3 verschillende talen gelezen!</li>
         </ul>
       </div>
    </div>

    <div class="cv_item">
      <h2 (click)="doeIets(0)">Persoonsgegevens</h2>
      <div *ngIf="this.selected[0]">
        <table class="persoonsgegevens">
          <tr>
            <td>Naam:</td>
            <td>Frank Floris</td>
          </tr>
          <tr>
            <td>Email:</td>
            <td><a href="mailto:frank_floris@hotmail.com">frank_floris@hotmail.com</a></td>
          </tr>
          <tr>
            <td>LinkedIn:</td>
            <td><a href="https://www.linkedin.com/in/frank-floris-70b057176/" target="_blank" rel="noopener noreferrer">LinkedIn Frank Floris</a></td>
          </tr>
        </table>
      </div>
    </div>

    <div class="testtable" style="top: 10vh; left: 5px">
      <div>
        <table class="table">
          <tr>
            <td class="kwart" style="padding-left: 4%;"><img (click)="addModal('fantasy')" alt="Dit boek heb ik in wel drie talen gelezen." id="fantasy" title="Fantasy boeken zijn mijn favoriet!" class="background-image books" src="https://images-na.ssl-images-amazon.com/images/I/81iqZ2HHD-L.jpg"></td>
          </tr>
          <tr><td class="kwart"><img (click)="addModal('koken')" alt="Altijd iets nieuws koken, altijd vegetarisch." id="koken" title="Ik kook bijna altijd vegetarisch" class="background-image cooking" src="https://www.amenuforyou.com/wp-content/uploads/2017/06/canneloni-al-forno-1477607282-9986-1080x720.jpeg"></td></tr>
          <tr><td class="kwart"><img (click)="addModal('films')" alt="Wat een meesterwerk, the Shawshank Redemption." id="films" title="De beste film" class="background-image films" src="https://media2.fdncms.com/clevescene/imager/u/original/29548898/shaw.jpg"></td></tr>
          <tr><td class="kwart"><img (click)="addModal('taart')" alt="Leuk om te maken, lekker om te eten!" id="taart" title="Leuk om te maken, lekker om te eten" class="background-image taart" src="https://www.24kitchen.nl/files/styles/social_media_share/public/2014-05/135723.original.jpg?itok=R4gqjTLI"></td></tr>
        </table>
      </div>
    </div>

    <div class="testtable" style="top: 10vh; right: 5px">
      <div>
        <table class="table">
          <tr><td class="kwart" style="padding-left: 4vw;"><img (click)="addModal('boardgames')" alt="Ik heb kasten vol bordspelletjes." id="boardgames" title="Spelletjes spelen is altijd leuk" class="background-image boardgame" src="https://www.frankfloris.nl/spelletjeskast.jpg"></td></tr>
          <tr><td class="kwart"><img (click)="addModal('gaming')" alt="Vroeger was alles beter, ook pc-games." id="gaming" title="Gaming life" class="background-image gaming" src="https://www.frankfloris.nl/homm3.png"></td></tr>
          <tr><td class="kwart"><img (click)="addModal('gardening')" alt="Dit is mijn droom dak." id="gardening" title="Dit is mijn droom dak" class="background-image plant" src="https://freshome.com/wp-content/uploads/2012/10/rooftop-landscaping-ideas-2.jpg"></td></tr>
          <tr><td class="kwart"><img (click)="addModal('fietsen')" alt="Lekker fietsen." id="fietsen" title="Fietsen is goed voor je" class="background-image fiets" src="https://cba.imgix.net/-/media/images/magazine/vakantie/fiets-aan-gracht-amsterdam4120x1600.jpg?auto=format&fit=crop&rev=34038C84C29C4A14BB49B092FBC8FEED&w=2060&h=800&format=auto"></td></tr>
        </table>
      </div>
    </div>


    <div id="myModal" class="modal">

      <span (click)="closeModal()" class="close">&times;</span>

      <img class="modal-content" id="modalImage" >

      <div id="caption"></div>
    </div>
  </main>

</div>
</body>
</html>
