header, footer {

}

.whole-page {
  /*width: 99vw;*/
  /*height: 87.2vh;*/
  height: 87.2%;
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  overflow: auto;
}

body {
  /*padding: 12px;*/
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  height: 100%;
  /*padding-bottom: 10%;*/
}

.md-button {
  padding: 0 6px 0 6px;
  /*margin: 6px 8px 6px 8px;*/
  margin-right: 8px;
  min-width: 88px;
  border-radius: 3px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  text-decoration:none;
  border: none;
  outline: none;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.md-button:not([disabled]):hover {
  background-color: rgba(158, 158, 158, 0.2);
  cursor: pointer;
}

.md-button[disabled] {
  color : rgba(0, 0, 0, 0.26);
  background-color: transparent;
}

p {
  font-family: 'Merriweather', serif;
  padding-bottom: 0;
  padding-top: 0;
  margin-bottom: 12px;
  margin-top: 0;
  height: min-content;
}

main {
  margin-left: 12px;
  margin-right: 12px;
  font-family: 'Merriweather', serif;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 12px;
  z-index: 2;
}

h2 {
  font-family: 'Merriweather', serif;
  padding-bottom: 0;
  padding-top: 0;
  margin-bottom: 6px;
  margin-top: 6px;
  height: min-content;
  cursor: pointer;
  /*overflow-wrap: break-word;*/
  /*width: max-content;*/
  /*position: absolute;*/
}

.cv_item {
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 0;
  padding-bottom: 6px;
  background-color: white;
  width: 95%;
  text-align: left;
  border-radius: 10px;
  border: 2px black solid;
  margin-bottom: 12px;
  /*position: absolute;*/
  overflow: auto;

}

.achtergrond {
  max-width: 100%;
  position: fixed;
  z-index: -2;
  opacity: 0.2;
}

.videowrapper {
  position: relative;
  padding-bottom: 56.25%;
  /*padding-bottom: 28.125%;*/
  padding-top: 25px;
  /*margin-right: 50%;*/
  height: 0;
}

.videowrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.helft {
  width: 60%;
}
