td:nth-child(1){
  width: 20vw;
}

td:nth-child(2){
  width: 30vw;
}

.blog_item {
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 0;
  padding-bottom: 0;
  background-color: white;
  width: 95%;
  text-align: left;
  border-radius: 10px;
  border: 2px black solid;
  margin-bottom: 12px;
  overflow: auto;
  /*column-count: 2;*/
}
