<!DOCTYPE html>
<html class="whole-page">
  <head>
    <title>Frank's CV</title>
    <link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="container">

      <div *ngIf="!selected[0]" class="overlay">
        <div class="overlay-content">
      <main>
        <div class="cv_item">
          <h2>Welkom op de interactieve CV van Frank Floris</h2>
          <div>
            <p>
              Hier vind je de CV van Frank Floris.<br>
              Daarnaast kan je een indruk krijgen van een aantal programma's die ik heb gecodeerd.<br>
              Informatie over wat voor persoon ik ben en wat mijn hobbies zijn kan je ook op deze pagina vinden.<br>
              Iedere pagina heeft een ander thema, en er zijn verschillende interacties mogelijk. Dit is om mijn eigen HTML en CSS vaardigheden uit te breiden.<br><br>
              Wil je bijvoorbeeld een achtergrond-animatie instellen? Probeer een van deze:<br>
              <button (click)="updateSnowflakes('visible', '5px solid white', 'none', 'transparent', '0', '100px', '100px', 0)">Zeepbellen</button>
              <button (click)="updateSnowflakes('visible', '0', 'none', '#D4AF37', '5', '50px', '50px', 4)">Confetti</button>
              <button (click)="updateSnowflakes('visible','0px','none','white','0','10px','10px', 0)">Winter</button>
              <button (click)="updateSnowflakes('visible','0px','url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQaWAtWoLIS9B8v1Q80gAE8ZC0wFI7Zsm-5gJb21xb2TmpsoeRYJA)','white','0','100px','100px', 0)">Doge</button>
              <button (click)="updateSnowflakes('hidden','0px','none','transparent','0','0px','0px', 0)">Genoeg!</button>
            </p>
          </div>
        </div>



        <div class="cv_item">
          <h2>Beschikbaarheid Frank</h2>
          <div>
            <p>
              Ik ben per direct beschikbaar via YoungCapital NEXT.<br>
              Voor meer informatie, neem contact op met mijn accountmanager <a href="https://www.linkedin.com/in/pauldelangehaarlem/" target="_blank">Paul de Lange</a><br>
            </p>
          </div>
        </div>

        <div class="cv_item">
          <table>
            <tr>
              <td style="width: 40vw">
                <h2>Hier is een video van mijn nieuwste gameproject: Een 3D wereld</h2>
                <p>Voor deze 3D wereld heb ik gebruik gemaakt van de Lightweight Java Game Library (lwjgl).
                  Door het gebruik van verschillende vectoren, matrices en shaders kan er een 3D wereld worden gerenderd op het beelscherm.
                  Deze wereld heeft terrein met hoogte verschil, een skybox, een dag en nacht cyclus, meerdere lichtpunten en water.
                  Het water reflecteerd afhankelijk van de camerapositie, recht van boven is er nouwelijks reflectie, maar van de zijkant is er zeer veel reflectie.
                  Daarnaast is het mogelijk om entiteiten zoals bomen en bloemen op te pakken en ergens anders weer te herplaatsen.
                  Uiteraard kunnen deze entiteiten ook vanuit het niets worden geplaatst.
                  De laatste toevoeging die ik heb gedaan zijn vrolijk rondhuppelende konijntjes.
                  Deze konijntjes zorgen momenteel nog voor wat performance issues, maar dat is gewoon een nieuwe uitdaging! <br><br>
                  <a href="https://github.com/FrankFloris/3D_Game" target="_blank" rel="noopener noreferrer" class="md-button">3D wereld code</a>
                </p>
              </td>
              <td>
                <div class="videowrapper">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/cI63cJpaDps" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
              </td>
            </tr>
          </table>
        </div>

        <div class="cv_item">
          <table>
            <tr>
              <td style="width: 28vw">
                <div class="videowrapper">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/d82A7xbtKmU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
              </td>
              <td>
                <h2>Hier is een video van mijn vorige gameproject: Chess</h2>
                <p>Dit is een schaakspel dat gebruik maakt van Java's JPanel.
                  Het was een hele opgave om de regels van schaken te vertalen naar een spel dat je daadwerkelijk kan spelen op en computer.
                  Momenteel kan je via hotseat met een tweede persoon spelen.
                  Maar als je geen tegenstander hebt, dan kan je ook tegen de AI spelen.
                  Deze AI maakt gebruik van het minimax algoritme.
                  Het is ook mogelijk om de AI tegen een andere AI te laten spelen.
                  De AI kan je in principe zoveel zetten vooruit laten denken als je wil, maar iedere extra zet die vooruit wordt gedacht vereist een extra factor aan berekeningen.
                  De rekentijd kan zo erg lang duren, net zoals bij een gewoon potje schaak.
                  Momenteel is het nog niet mogelijk om het spel op te slaan, of opgeslagen spellen te laden, maar dat kan nog worden toegevoegd.
                  <br><br>
                  <a href="https://github.com/FrankFloris/Chess" target="_blank" rel="noopener noreferrer" class="md-button">Java Chess code</a>
                </p>
              </td>
            </tr>
          </table>
        </div>


      </main>
        </div>
      </div>

    </div>
  </body>

</html>

